.header {
    background-color: var(--cor-principal);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
}

.header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.itemNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    margin: 0px;
      &:hover {
        opacity: 0.5;
    }
}

.imgUsuario img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

