.menuCarrinho {
    height: auto;
    top: 0;
    z-index: 1001;
    left: 0;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    background-color: var(--cor-principal);
    width: 100%;
    color: #fff;
}

.menuCarrinho svg {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.281);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
}

.meuCarrinho {
    flex-direction: column;
    gap: 15px;
    background-color: #F4F4F4;
    padding: 20px;
}


.gridProdutos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
.productImage {
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
  
  .cardProduto {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px);
  }
  
  .cardProduto:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  }
  .imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .imgContainer {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .titulo {
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .preco {
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .frete {
    color: #fff;
    font-size: 10px;
    background-color: #113366;
    position: absolute;
    padding: 5px;
    border-radius: 2px;
    top: 175px;
  }